.main {
    margin: 0;
    z-index: 1;
    font-family: 'raleway';
    font-weight: 700;
  }
 

  .first {
    margin:0;
    padding:0;
    position:absolute;
    top: 30%;
  }

  .last {
    margin:0;
    padding:0;
    position:absolute;
    top: 39%;
  }
  