/* THE FOLLOWING ANIMATIONS RUN BASED ON WHETHER OR NOT THE CHECKBOX INPUT FIELD IS CHECKED */

    /*           ROTATION OF HAMBURGER ANIMATION            */
  #hamburger #hamburger-checkbox:checked + #hamburger-background > div {
    transform: rotate(135deg);
  }
  
  #hamburger #hamburger-checkbox:checked + #hamburger-background > div:before {
    top: 0;
    transform: rotate(90deg);
  }
  
  #hamburger #hamburger-checkbox:checked + #hamburger-background > div:after {
    top: 0;
    transform: rotate(90deg);
    opacity: 0;
  }


   /*                HAMBURGER LINES STYLING                */
   #hamburger #hamburger-background > div {
    height: 0.125rem;
    transition: all 0.4s ease;
    -webkit-box-pack: center;
  }

  #hamburger #hamburger-background > div:before,
  #hamburger #hamburger-background > div:after {
    content: "";
    z-index: 1;
    position: absolute;
    left: 0;
    width: 100%;
    top: -0.5rem;
    height: 0.125rem;
    transition: all 0.4s ease;
    background-color: inherit;
  }

  #hamburger #hamburger-background > div:after {
    top: 0.5rem;
  }
  


 /*        ANIMATION THAT PLAYS WHEN YOU HOVER OVER X ICON          */
 #hamburger #hamburger-checkbox:checked:hover + #hamburger-background > div {
  transform: rotate(225deg);
}

  