.hide-cursor .typed-cursor {
    display:none
   }

.hide-bug {
   display: none;
}

.bug {
    position: absolute;
    top: 58%;
    right: 27%;
    font-size: 150%;
    z-index: 1;
}
.bug1 {
    position: absolute;
    top: 52%;
    right: 18%;
    font-size: 150%;
    z-index: 1;
}
.bug2 {
    position: absolute;
    top: 47%;
    right: 30%;
    font-size: 150%;
    z-index: 1;
}
.bug3 {
    position: absolute;
    top: 40%;
    right: 15%;
    font-size: 150%;
    z-index: 1;
}
.bug4 {
    position: absolute;
    top: 33%;
    right: 26%;
    font-size: 150%;
    z-index: 1;
}
   
   