@font-face {
    font-family: 'Yellowtail Regular';
    src: url('../src/assets/fonts/Yellowtail-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SoinSansPro-Bold';
    src: url('../src/assets/fonts/SoinSansPro-Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Oswald';
    src: url('../src/assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Bold Italic';
    src: url('../src/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Regular';
    src: url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Roboto Medium';
    src: url('../src/assets/fonts/Roboto-Medium.ttf') format('truetype');
  }




@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
