.hide-bug {
    display: none;
 }
 
 .bug {
     position: absolute;
     top: 51%;
     right: 8%;
     font-size: 150%;
     z-index: 1;
 }
 .bug1 {
     position: absolute;
     top: 44%;
     right: 17%;
     font-size: 150%;
     z-index: 1;
 }
 .bug2 {
     position: absolute;
     top: 38%;
     right: 8%;
     font-size: 150%;
     z-index: 1;
 }
 .bug3 {
     position: absolute;
     top: 33%;
     right: 23%;
     font-size: 150%;
     z-index: 1;
 }
 .bug4 {
     position: absolute;
     top: 26%;
     right: 10%;
     font-size: 150%;
     z-index: 1;
 }