.hide-bug {
    display: none;
 }
 
 .bug {
     position: absolute;
     top: 50%;
     right: 25%;
     font-size: 150%;
     z-index: 1;
 }
 .bug1 {
     position: absolute;
     top: 64%;
     right: 18%;
     font-size: 150%;
     z-index: 1;
 }
 .bug2 {
     position: absolute;
     top: 78%;
     right: 18%;
     font-size: 150%;
     z-index: 1;
 }
 .bug3 {
     position: absolute;
     top: 83%;
     right: 10%;
     font-size: 150%;
     z-index: 1;
 }
 .bug4 {
     position: absolute;
     top: 96%;
     right: 10%;
     font-size: 150%;
     z-index: 1;
 }